#include <stdio.h>
#include <stdlib.h>

int main(){
    int x1,x2,v1,v2;
    int x=0;

    printf("x1: posisi awal jangkrik 1\n");
    printf("v1: kecepatan jangkrik 1\n");
    printf("x2: posisi awal jangkrik 2\n");
    printf("v2: kecepatan awal jangkrik 2\n");
    printf("\n");
    printf("masukkan x1, v1, x2, v2, secara berurutan:\n");
    scanf("%d %d %d %d", &x1, &v1, &x2, &v2);

if(0<=x1 && x1<x2 && x2<=1000 && 1<=v1<=1000 && 1<=v2<=1000){
    do{x1=x1+v1;
    x2=x2+v2;}
    while(x1!=x2);
} else {printf("angka yang anda masukkan tidak valid"); exit(EXIT_FAILURE);}

if(x1==x2){printf("YES");}
else {printf("NO");}
    return(0);
} 
